<h2>Message Board</h2>

<p class="lead">
  Welcome to the message board! Join in on an existing post below or <%= link_to "Start your own discussion", board.new_post_path %>.
</p>

<% @posts.each do |post| %>
  <div class="thread">
    <h3 class="post-title"><%= link_to post.title, board.post_path(post) %></h3>

    <div class="recent-messages">
      <% post.messages.each do |message| %>
        <div class="row message">
          <div class="col-md-3">
            <span class="author"><%= message.user.display_name %></span>
            <span class="message-time">posted <%= time_ago_in_words message.created_at %> ago</span>
          </div>
          <div class="col-md-9">
            <%= simple_format message.body %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
