<h2>
  <%= link_to "Message Board", main_app.root_path %> /
  <span class="thread-title"><%= @post.title %></span>
</h2>

<div class="recent-messages">
  <%= render partial: "message", collection: @post.post_messages, as: :message %>
</div>

<hr />

<% if user_signed_in? %>
  <%= form_for [@post, Message.new] do |f| %>
    <div class="form-group">
      <%= f.label :body, "Body" %>
      <%= f.text_area :body, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "Post", class: 'btn btn-primary' %>
    </div>
  <% end %>
<% else %>
  <p class="lead">
  <%= link_to "Log in", main_app.new_user_session_path %> or <%= link_to "create an account", main_app.new_user_registration_path %> to join the conversation.
  </p>
<% end %>
